.my-anchorpane {
    -fx-background-color: #aea083;
    -fx-border-width: 2px;
    -fx-padding: 10px;
}
.root{
    -fx-background-color: #424242;
    -fx-border-width: 2px;
    -fx-padding: 10px;
}
/*Cool Gray: #808080*/

/*Slate Gray: #708090*/

/*Steel Gray: #708090*/

/*Charcoal Gray: #222222*/

/*Blue-Gray: #78909C*/

/*Green-Gray: #7D9A8B*/

/*Silver Gray: #B0B0B0*/

/*Pewter Gray: #6A6A6A*/